.title {
  font-weight: 700;
}

button {
  margin-bottom: 3%;
}

span {
  margin-bottom: 3%;
  font-size: large;
}

.stock-container {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

.month {
  font-weight: 700;
}

.green-arrow {
  color: green;
  font-size: 70px;
  margin-top: -3%;
}

.red-arrow {
  color: red;
  font-size: 70px;
  margin-top: -3%;
}

.sentiment-container {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .sentiment-container {
    margin-bottom: 3%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .stock-container {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .red-arrow {
    color: red;
    font-size: 70px;
    margin-top: -2%;
  }
  .green-arrow {
    color: green;
    font-size: 70px;
    margin-top: -2%;
  }
}

.details-container {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}
