<app-card>
  <button
    class="btn-close"
    id="remove{{ data?.symbol.description }}"
    (click)="deleteData(data)"
  >
    ❌
  </button>
  <span class="title">{{ data?.symbol.description }}</span>
  <div class="container">
    <div class="text-container">
      <span>
        Change today:
        {{ percentIcon }} {{ data?.quote.dp | percent: '1.2' }}
        Current price:
        {{ data?.quote.c | currency }}
      </span>
      <span>
        Opening price: {{ data?.quote.o | currency }}
        High price:
        {{ data?.quote.h | currency }}
      </span>
    </div>
    <div class="arrow">
      <span *ngIf="percentIcon === '+'; else rowDownIcon">🡽</span>
      <ng-template #rowDownIcon>🡾</ng-template>
    </div>
  </div>
  <button id="sentiment{{ data?.symbol.description }}" class="primary">
    Go to social sentiment details >>
  </button>
</app-card>
