<app-card>
  <button
    class="btn-close"
    id="remove{{ data?.symbol.description }}"
    (click)="deleteData(data)"
  >
    ❌
  </button>
  <span class="title">{{ data?.symbol.description }}</span>
  <div class="container">
    <div class="text-container">
      <div class="change-price">
        <span>
          Change today:
          {{ data?.quote.dp | percent: '1.2' }}
        </span>
        <span> Current price: {{ data?.quote.c | currency }}</span>
      </div>
      <div class="opening-high">
        <span> Opening price: {{ data?.quote.o | currency }} </span>
        <span> High price: {{ data?.quote.h | currency }}</span>
      </div>
    </div>
    <div class="arrow">
      <span *ngIf="data?.quote.dp >= 0; else rowDownIcon">🡱</span>
      <ng-template #rowDownIcon>🡳</ng-template>
    </div>
  </div>
  <button
    id="sentiment{{ data?.symbol.description }}"
    [routerLink]="['/sentiment', data?.symbol.symbol]"
    class="primary"
  >
    Go to social sentiment details >>
  </button>
</app-card>
