/* Add application styles & imports to this file! */
.primary {
  background-color: #04aa6d;
  color: white;
  border: 0;
  padding: 12px 20px;
}

.secondary {
  background-color: #e7e7e7;
  color: black;
  border: 0;
  padding: 12px 20px;
}

.primary:hover,
.secondary:hover {
  cursor: pointer;
  opacity: 0.8;
}

.error {
  color: red;
}
