.container {
  margin-top: 5%;
}

.card-list {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-container {
  width: 30%;
  margin: 1%;
}

button {
  margin-left: 1%;
}

button:disabled {
  cursor: not-allowed;
  background-color: #cccccc;
  color: #666666;
}

input[type='text'] {
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
