<app-card>
  Enter the symbol of a stock to track (i.e. AAPL, TSLA, GOOGL)
  <div class="container">
    <div class="form">
      <input id="stockInput" [formControl]="searchControl" type="text" />
    </div>
    <button
      class="primary"
      id="trackBtn"
      (click)="searchData()"
      [disabled]="!searchControl.valid"
    >
      Track Stock
    </button>
  </div>
</app-card>

<div class="card-list">
  <div class="card-container" *ngFor="let stock of stockList">
    <app-company-card
      (delete)="deleteData($event)"
      [data]="stock"
    ></app-company-card>
  </div>
</div>
